div.botones {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: bisque;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.botones button {
    width: 30%;
    background-color: rgb(89, 154, 89);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

div.botones button:hover {
    background-color: rgb(40, 79, 40);
}

div.botones a {
    text-decoration: none;
    color: white;
}

div.botones a:hover {
    color: rgb(135, 135, 135);
}

@media (max-width:850px){
    div.botones button {
        width: 80%;
    }
}
